@use '../styles' as *;

.single-product{
    margin-top: 2em;
    

    .Info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

    .single-image{
        background-color: $bgcolor;
        width: fit-content;
        padding: 2em 3em;
        border-radius: 20px;
        img{
            width: 25em;
        }
    }

    .product-dtl{
    .product-name{
        font-weight: 700;
        font-size: 1.5em;
    }
    p{
        font-size: 1.1em;
        color: #7a7a7a;
        margin-top: 1em;

    }
    .price{
        font-weight: 900;
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-top: 4em;
        display: block;
    }
    .stock{
        background-color: rgb(134, 255, 134);
        color: green;
        font-weight: 800;
        font-size: 1em;
        padding: 0.3em 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }
    .nostock{
        background-color: rgb(255, 134, 134);
        color: rgb(128, 0, 0);
        font-weight: 800;
        font-size: 1em;
        padding: 0.3em 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }
    .product-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rating{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        p{
            font-size: 1.1em;
            font-weight: 700;
            margin-top: 0.4em;
            color: black;
        }
        img{
            width: 2em
        }
    }
    select{
        height: 50px;
        margin-right: 1em;
        font-weight: 700;
    }
    
}
button{
    @include secondary;
}

h2{
    @include sectionTitle;
        margin: 2em 0em;
        text-align: center;
        margin-bottom: 2em;
        font-weight: 800;
}
.reviews{
    width: 60%;
    margin-left: auto;
margin-right: auto;
button{
    background-color: $primary;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
}
}

.spTitle{
        @include sectionTitle;
        margin: 2em 0em;
        margin-bottom: 2em;
        font-weight: 800;
}

@media only screen and (max-width:1250px){
    .spTitle{
        text-align: center;
    }
    .single-product{
        .Info{
            display: flex;
            flex-direction: column;
        }
        .single-image{
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 2em;
        }
        .product-dtl{
            padding: 1em 2em;
        }
    }
}

@media only screen and (max-width:767px){
    .spTitle{
        text-align: center;
    }
    .single-product{
        .Info{
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width:450px){
    .single-product{
        .single-image{
            padding: 1.5em 2em;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 13em;
            }
        }
        .product-dtl{
            padding: 1em 2em;
        }
    }
}